@page "/Cliente/Create"
@inject TecnicoService tecnicoService
@inject ClientesServices clienteService
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Crear Cliente</PageTitle>
<EditForm Model="clientes" OnvalidSubmit="Crear">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Cliente</h5>
            </div>

            <div class="card-body">
                @*Id*@
                <div class="mb-3">
                    <label class="form-label"><strong>ClienteId</strong></label>
                    <InputNumber class="form-control" @bind-Value="clientes.ClienteId" READONLY></InputNumber>
                </div>

                @*Nombres*@
                <div class="mb-3">
                    <label class="form-label" for="nombres"><strong>Nombre</strong></label>
                    <InputText id="nombres" class="form-control" @bind-Value="clientes.Nombres"></InputText>
                    <ValidationMessage For="@(()=> clientes.Nombres)"></ValidationMessage>
                </div>

                @*Fecha*@
                <div class="mb-3">
                    <label class="form-label"><strong>Fecha</strong></label>
                    <InputDate class="form-control" @bind-Value="clientes.FechaIngreso"></InputDate>
                    <ValidationMessage For="@(()=> clientes.FechaIngreso)"></ValidationMessage>
                </div>
                
                @*Direccion*@
                <div class="mb-3">
                    <label class="form-label"><strong>Dirrecion</strong></label>
                    <InputText class="form-control" @bind-Value="clientes.Direccion"></InputText>
                    <ValidationMessage For="@(()=> clientes.Direccion)"></ValidationMessage>
                </div>

                @*RNC*@
                <div class="mb-3">
                    <label class="form-label"><strong>RNC</strong></label>
                    <InputText  class="form-control" @bind-Value="clientes.RNC"></InputText>
                    <ValidationMessage For="@(()=> clientes.RNC)"></ValidationMessage>
                </div>

                @*Limite de Credito*@
                <div class="mb-3">
                    <label class="form-label"><strong>Limite Credito</strong></label>
                    <InputNumber class="form-control" @bind-Value="clientes.LimiteCredito"></InputNumber>
                    <ValidationMessage For="@(()=> clientes.LimiteCredito)"></ValidationMessage>
                </div>

                @*Tecnico*@
                <div class="mb-3">
                    <label class="form-label"><strong>Tecnico</strong></label>

                    <div class="input-group">

                        <InputSelect class="form-control form-select" @bind-Value="clientes.TecnicoId">
                            <option value="0" selected disabled>Elija una opción</option>
                            @foreach (var Tecnico in tecnico)
                            {
                                <option value="@Tecnico.TecnicoId">@Tecnico.Nombres</option>
                            }
                        </InputSelect>

                    </div>
                </div>

            </div>
            @*footer*@
            <div class="card-footer text-center mt-3">
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo </button>
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <a type="button" href="/Cliente/Index/" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Volver </a>
            </div>
        </div>
    </div>

</EditForm>
@code {
    public Clientes clientes { get; set; } = new Clientes();
    public List<Tecnicos> tecnico { get; set; } = new List<Tecnicos>();
    [Inject] protected ToastService ToastService { get; set; }


    protected override async Task OnInitializedAsync()
    {
        tecnico = await tecnicoService.Listar(t => true);
    }

    public Create(ToastService toastService)
    {
        ToastService = toastService;
    }

    public async Task Crear()
    {
        if (!await Validar())
        {
            await clienteService.Guardar(clientes);
            ToastService.Notify(new(ToastType.Success, "Exito", $"Cliente Creado correctamente."));
            clientes = new Clientes();
            navigation.NavigateTo("/Cliente/Index");
        }
        else
        {
            ToastService.Notify(new(ToastType.Danger, "Error", $"Cliente ya existe."));
        }
    }

    public void Nuevo()
    {
        clientes = new Clientes();
    }

    public async Task<bool> Validar()
    {
        var existeNombre = await clienteService.BuscarNombres(clientes.Nombres);
        var existeRnc = await clienteService.BuscarRNC(clientes.RNC);
        return existeNombre != null && existeRnc != null;
    }

}
